{% extends 'base.html' %}

{% block content %}
<div>
    <div class="box">
        <form method="POST" action="{{request.path}}" class="form">
            <div class="field">
                <div class="control">
                    <label for="password">Mot de passe:</label>
                    <input type="password" name="password" id="password" placeholder="Mot de passe" autofocus=""><i onclick="TogglePassword()" class="fa-solid fa-eye"></i>
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <label for="confirm_password">Confirmer votre mot de passe:</label>
                    <input type="password" name="confirm_password" id="confirm_password" placeholder="Mot de passe"><i onclick="ToggleConfirmPassword()" class="fa-solid fa-eye"></i>
                </div>
            </div>
            <input type="submit" value="Appliquer">
        </form>
    </div>
</div>

{% endblock %}