*{
    margin:0;
    padding:0;
}

body{
    background: rgb(241, 240, 240);
    height: 100vh;
    max-height:100vh;
    overflow: hidden;
}

.alert{
    background-color: rgb(255, 84, 84);
    width:80%;
    margin: auto;
    color:white;
    font-size: 24px;
    text-align: center;
    box-shadow: rgb(253, 64, 64) 0px 5px 20px;
    border-radius: 5px;
    height: 5%;
}

.success{
    background-color: rgb(85, 123, 249);
    width:80%;
    margin: auto;
    color:white;
    font-size: 24px;
    text-align: center;
    box-shadow: rgb(57, 103, 253) 0px 5px 20px;
    border-radius: 5px;
    height: 5%;
}

.register_page{
    width: 100%;
    margin: auto;
}

h1{
    text-align: center;
    font-size: 40px;
    color: white;
    position: absolute;
    left: 43%;
    top: 25%;
}

/* NavBar */

nav{
    padding: 30px 0;
    background-color: rgb(41, 114, 249);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: rgb(44, 44, 250) 0px 5px 20px;
}
.flexbox{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.flexbox div{
    max-width: 50%;
}
.flexbox div a{
    font-size: 25px;
    color: white;
    padding: 0 20px;
}

/* Formulaire*/
.form{
    position: relative;
    z-index: 1;
    background: #ffff;
    max-width: 25%;
    margin: 100px auto 100px;
    padding: 60px;
    box-shadow: rgb(70, 70, 253) 5px 5px 15px;
}

.form input, .form select, .form textarea, .form a{
    font-family: 'Times New Roman', Times, serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 10px;
    padding:10px 10px 10px 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form p{
    text-align: center;
    text-decoration: underline;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}
.submit{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: cornflowerblue;
}

.form b span{
    display: block;
    text-align: center;
    margin-bottom: 10px;
}
.form label{
    text-align: center;
}

.form a{
    display:block;
    text-align: center;
    color:white;
    font-size: 16px;
    text-decoration: none;
    background-color: rgb(254, 105, 105);
}
.form input[type="submit"]{
    background-color: rgb(63, 63, 253);
    font-size: 16px;
    color: white;
}

/* Users.html */
table{
    text-align:center;
    width:90%;
    margin: 0 auto;
    overflow-y: scroll;
}
td{
    padding: 15px 0;
    border: cornflowerblue 1px solid;
    font-size: 16px;
    width: 20%;
}
th{
    border: cornflowerblue 2px solid;
    color: cornflowerblue;
    font-size: 17px;
    /*position:sticky;*/
}
#users{
    width:90%;
    margin: 2% auto 0px auto;
    background-color: white;
    padding: 40px 0;
    min-height: 69%;
    border-radius: 10px;
    box-shadow: rgb(70, 70, 253) 5px 5px 15px;
}
#bpn {
    display:block;
    width:80%;
    height: 100%;
    opacity:0.4;
    margin:auto;
    box-shadow: rgb(47, 47, 47) 2px 2px 20px;
}

#users a#add{
    display:block;
    margin-top: 2%;
    text-align: center;
}